@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
  margin: 0;
  background-color: #222831 !important;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
